#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #1b1b1f;
  color: white;
}

::selection {
  background-color: #1346ff49;
  color: inherit;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.gradientText {
  background: -webkit-linear-gradient(132deg, #00ff2a 50%, #f2ff00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// ========= container image style =========
// texture border
.gradientBorder {
  border-radius: 50%;
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 3px),
    black 100%
  );
  mask-composite: exclude;
}

// texture border
.gradientBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 50%;
  // background: linear-gradient(60deg, #00ff2a, #f2ff00);
  background: linear-gradient(60deg, #00ff73, #f2ff00);

  z-index: -1;
  transform: scale(1.1);
}

@keyframes texture-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// texture
.textureBackground {
  // border: 1px solid #00ff2a;
  animation: texture-spin infinite 120s linear;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='359' height='359' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236AB100' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2358DC00'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

// radiant
.radiantBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 50%;
  background-image: linear-gradient(120deg, #00ff6242 30%, #ddff0051);
  // background-image: linear-gradient(120deg, #0048ff42 30%, #00d9ff51);
  filter: blur(90px);
}
// ========= fin container image style =========

.voidTextWithBordure {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3cff00e3;
  color: transparent;
}

// custom button color
.greenButton {
  background-color: #add269;
  color: #243600;
  padding: 4px 20px;
  height: auto;
}

.grayButton {
  background-color: #32363f;
  color: #fffff5db;
  padding: 4px 20px;
  height: auto;
}

.greenButton:hover,
.grayButton:hover {
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

.whiteSvg {
  filter: invert(100%);
}

.greenSvg {
  filter: invert(50%) grayscale(100%) sepia(100%) hue-rotate(26deg)
    saturate(7488%);
}

.badgeSectionColor {
  background-color: #243600;
  color: #00ff2a;
}

// badge
.badgeIconColor {
  background-color: #243600;
  border: 2px solid #7bff00;
  z-index: 20;
  padding: 5px;
}

// header scrolled
.scrolled {
  border-bottom: 1px solid black;
  background-color: #1b1b1fa0;
  transition: background-color 300ms;
  backdrop-filter: blur(3px);
}

.top-position {
  background-color: transparent;
}

// presentation disposition
.presentationContainer {
  display: flex;
  gap: 96px;
  height: 450px;
  padding: 35px 40px 0px;
}

.presentationContainerLeft {
  padding-top: 70px;
}

.presentationUnderline {
  left: 219px;
  top: 130px;
}
.composantContainer {
  min-width: 350px;
  height: 350px;
}
.tailwindIcon {
  right: 40px;
  top: 289px;
}
.reactIcon {
  left: 12px;
  top: 57px;
}
.expressIcon {
  top: 72px;
  right: 2px;
}
.composantIcon {
  width: 180px;
}
// grid -- mes projets
.gridProject {
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  height: 250px;
}
// grid -- skills
.gridSkills {
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  height: 170px;
}
.projectContainer {
  width: 87%;
  background-color: #232723a6;
  padding: 20px 25px 30px;
  border-radius: 16px;
  border: 1px solid #252926;
  margin: auto;
}
.header {
  padding: 8px 28px 8px;
  justify-content: space-between;
  height: 60px;
}
.headerRightDiv {
  gap: 16px;
}
.projectContainerFull {
  margin: 0;
  width: 100%;
  display: flex;
  padding-top: 110px;
}

// responsive < 950px
@media screen and (max-width: 1020px) {
  .projectContainerFull {
    padding-top: 100px;
  }
  .presentationContainer {
    gap: 15px;
    height: auto;
    flex-direction: column;
  }
  .presentationContainerLeft {
    padding-top: 55px;
  }
  .presentationUnderline {
    left: 300px;
    top: 117px;
  }
  .presentationText {
    text-align: center;
  }
  .gridIcon {
    display: none;
  }
  .composantContainer {
    min-width: 290px;
    height: 290px;
  }
  .composantIcon {
    width: 160px;
  }
  .tailwindIcon {
    right: 26px;
    top: 234px;
  }
  .reactIcon {
    left: -5px;
    top: 64px;
  }
  .expressIcon {
    top: 40px;
    right: 8px;
  }
  .gridProject {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    height: 270px;
  }
  .gridProject :nth-child(3) {
    grid-column: 1/-1;
  }
}

// responsive < 710px
@media screen and (max-width: 710px) {
  .projectContainerFull {
    padding-top: 80px;
  }
  .gridProject {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    height: 480px;
  }
  .gridSkills {
    height: auto;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    padding-left: 30px;
    padding-right: 30px;
  }
  .gridSkills :nth-child(1) {
    grid-row: 2/2;
  }
  .projectContainer {
    width: 100%;
    margin: auto;
    border-radius: 0%;
    border: 0px solid transparent;
    background-color: transparent;
  }
  .presentationContainer :nth-child(3) {
    font-size: 45px;
  }
  .presentationContainer :nth-child(4),
  .presentationContainer :nth-child(5) {
    font-size: 55px;
  }
}

@media screen and (max-width: 550px) {
  .projectContainerFull {
    padding-top: 45px;
  }
  .presentationUnderline {
    top: 100px;
    left: 55%;
    height: 10px;
  }
  .presentationContainer {
    padding: 30px 0px;
  }
  .presentationContainer :nth-child(3) {
    font-size: 35px;
  }
  .presentationContainer :nth-child(4),
  .presentationContainer :nth-child(5) {
    font-size: 45px;
  }
  .composantContainer {
    min-width: 250px;
    height: 250px;
  }
  .composantIcon {
    width: 130px;
  }
  .header {
    gap: 16px;
    padding: 7px 12px 7px;
    height: 45px;
  }
  .headerRightDiv {
    gap: 6px;
  }
  .reactIcon,
  .tailwindIcon,
  .expressIcon {
    height: 35px;
    width: 35px;
  }
  .reactIcon {
    top: 57px;
  }
  .expressIcon {
    top: 32px;
  }
  .tailwindIcon {
    right: 40px;
    top: 212px;
  }
  .gridSkills {
    padding-left: 15px;
    padding-right: 15px;
  }
}
