@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$textureSvg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='411' height='411' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23918936' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C0B03B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

// galaxy theme
// $darkBackgroud: #00092a;
// $darkBackgroud: hsl(227, 60%, 8%);
$darkBackgroud: hsl(227, 10%, 8%);
$darkBackgroud-transparent: hsla(
  227,
  60%,
  8%,
  0.15
); // Version transparente du fond sombre
$elementBackground: hsla(20, 0%, 6%, 0.31); // without border gradient
$radiantBackground: linear-gradient(120deg, #609bc214 30%, #5f89b524);
$bigRadiantBackground: linear-gradient(
  122deg,
  rgba(255, 142, 14, 0.05) 30%,
  rgba(19, 231, 255, 0.04)
);
// $voidTextBordure: #88caff;
// $voidTextBordure: #ff7e70;
$voidTextBordure: #86e4ff;
// v1
// $gradientText: -webkit-linear-gradient(160deg, #e47f53 50%, rgb(52, 62, 153));
// v2 orange red
// $gradientText: -webkit-linear-gradient(160deg, #e0685c 50%, rgb(52, 104, 153) 110%);
// v2 light blue white
// $gradientText: -webkit-linear-gradient(
//   160deg,
//   #c0ddea 50%,
//   rgb(52, 104, 153) 100%
// );
$gradientText: -webkit-linear-gradient(
  160deg,
  #09a6ff 18%,
  rgb(255, 177, 20) 100%
);
// $filterUnderline: saturate(1) brightness(1) hue-rotate(325deg) opacity(0.9);
// $filterUnderline: saturate(1) brightness(0.72) hue-rotate(303deg) opacity(0.9);
$filterUnderline: saturate(0.3) brightness(1.1) hue-rotate(153deg) opacity(0.82);
$filterToColor: invert(39%) sepia(100%) hue-rotate(2.3deg) saturate(7488%)
  saturate(0.5) brightness(2);
$maskStroke: rgb(172 198 207 / 30%);
// $transparentBackground: rgb(17 24 41 / 83%);
// $transparentBackground: linear-gradient(
//   45deg,
//   rgb(12 12 35 / 90%),
//   rgb(45 47 65 / 88%)
// );
// $transparentBackground: linear-gradient(
//   45deg,
//   hsla(240, 10%, 9%, 0.9),
//   hsla(234, 0%, 22%, 0.88)
// );
$transparentBackground: linear-gradient(
  45deg,
  hsl(41.24deg 2.04% 8.23% / 90%),
  hsla(214.01, 48.9%, 11.59%, 0.88)
);
$titleText: white;
// $outlineColor: #99e4ff;
$outlineColor: #e7e7e7;
$sectionTitleBackground: rgb(22, 23, 28);
$darkBorder: #12192f;
$styleGradient: linear-gradient(60deg, #121c33, #1889db);
$testGradient: linear-gradient(
  122deg,
  #0e33ff 30%,
  rgba(19, 231, 255, 0.8156862745)
);
$skillsSvg: invert(47%) sepia(1) hue-rotate(223deg) contrast(1000%)
  saturate(0.1) brightness(0.94);
$reactTypescriptGradient: linear-gradient(
  122deg,
  #15207f 30%,
  rgba(1, 1, 6, 0.49)
);

// @mixin projectContainer {
//   background-color: $elementBackground;
//   background-color: #02081f;
//   border: 1px solid $darkBorder;
// }

@mixin linkedInButton {
  color: black;
  // yellow
  //   background-color: #f1d225;
  //   color: #362b00;
  //   white
  //   background-color: white;
  // gradient
  //   background: linear-gradient(45deg, #de6861 10%, #acceeb);
  //   background: linear-gradient(45deg, white 10%, #ebc1ac);
  background: linear-gradient(45deg, white 10%, #acc8eb);
}

// ==== Start OLD ====
@mixin badgeColor {
  background-color: #3c3408;
  color: #ffee00;
}
@mixin badgeIconColor {
  background-color: #2e2500;
  border: 1.5px solid #fff700;
}
// ==== End OLD ====

// =========================

.bigRadiantBackground {
  z-index: 1;
  background: $bigRadiantBackground;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 300px;
  filter: blur(60px);
}

// Test For skills grid gradient border
.borderGradient {
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #040818, #2c5e94);
  margin: auto;
  border-radius: 14px;
}

.skillsElementTest {
  background-color: #050b21;
}

.skillsElement {
  border: 1px solid $darkBorder;
  background-color: $elementBackground;
}

.positionPicOfMe {
  position: relative;
  top: 38.5px;
}

.sectionTitle {
  background-color: $sectionTitleBackground;
}

.specialFont {
  font-family: "Abhaya Libre";
  letter-spacing: -0.025rem;
}

// override
.mask {
  // mask-image:linear-gradient(to_bottom_right,white,transparent,transparent)
  mask-image: linear-gradient(
    to bottom right,
    white,
    rgba(0, 0, 0, 0.18),
    transparent
  );
}

#arrow {
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: rotate(180deg);
  padding: 10px;
  height: 44px;
  filter: opacity(0.95);
  z-index: 100;
  position: fixed;
  right: 15px;
  bottom: 10px;
  //   transform: translateX(50%) rotate(180deg);
  //   right: 50%;
}

#arrow.hideArrow {
  opacity: 0;
  transform: rotate(180deg);
  //   transform: translateX(50%) translateY(10px) rotate(180deg);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.showArrow {
  display: flex;
}

#Projects {
  flex-direction: column;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: $darkBackgroud;
  color: white;
  overflow: hidden;
}

a:not(:active):not(.iconSocialPresentationDL):focus {
  border: none;
}

a:not(:active):not(.iconSocialPresentationDL):focus {
  outline: 2.5px solid $outlineColor;
  outline-offset: 2.5px;
  //   outline: none;
}

::selection {
  background-color: #1346ff49;
  color: inherit;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.gradientText {
  background: $gradientText;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentationUnderline {
  //   filter: saturate(0.9) brightness(1.2) hue-rotate(7deg) opacity(0.8);
  filter: $filterUnderline;
}

.projectGradient {
  background-image: linear-gradient(to top, hsl(38, 3%, 13%), hsl(43, 3%, 11%));
}

// texture border
.gradientBorder {
  border-radius: 50%;
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 3px),
    black 100%
  );
  mask-composite: exclude;
}

@keyframes texture-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// texture
.textureBackground {
  animation: texture-spin infinite 120s linear;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: $textureSvg;
}

// radiant
.radiantBackground {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 0;
  border-radius: 50%;
  background-image: $radiantBackground;
  filter: blur(30px);
}

.radiantBackgroundSmall {
  position: absolute;
  top: 20%;
  width: 60%;
  height: 60%;
  z-index: 0;
  border-radius: 50%;
  background-image: $testGradient;
  filter: blur(70px);
}

.radiantBackgroundSmall2 {
  position: absolute;
  top: 20%;
  width: 60%;
  height: 60%;
  z-index: 0;
  border-radius: 50%;
  background-image: $reactTypescriptGradient;
  filter: blur(70px);
}

.radiantBackgroundSmall3 {
  position: absolute;
  top: 20%;
  width: 60%;
  height: 65%;
  z-index: 0;
  border-radius: 50%;
  background-image: linear-gradient(
    297deg,
    rgb(117 101 59 / 54%) 30%,
    rgba(56, 49, 36, 0.82)
  );
  filter: blur(90px);
}

.radiantBackgroundSmall4 {
  position: absolute;
  top: 20%;
  width: 60%;
  height: 65%;
  z-index: 0;
  border-radius: 50%;
  background-image: linear-gradient(
    297deg,
    rgba(33, 36, 66, 0.661) 30%,
    rgb(15, 15, 23)
  );
  filter: blur(40px);
}

.growThis {
  transition: transform 0.1s ease-out;
}

.focusNotVisible:focus,
.focusNotVisible:target {
  border: 0px solid transparent !important;
  outline: none !important;
}

.voidTextWithBordure {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: $voidTextBordure;
  color: transparent;
  //   text-shadow: 0 1px 15px #e90e0e1c;
  background: hsla(0, 0%, 0%, 0.06);
  background-clip: text;
}

.yellowButton {
  @include linkedInButton;
  padding: 4px 20px;
  height: 39px;
}

.grayButton {
  background-color: #353535;
  //   background-color: #292929;
  color: #fffff5db;
  padding: 4px 20px;
  height: 39px;
}

.yellowButton:hover,
.grayButton:hover {
  cursor: pointer;
}

button:hover,
a.grayButton:hover {
  filter: brightness(1.2);
}

a.yellowButton:hover {
  filter: brightness(1.14);
}

.whiteSvg {
  filter: invert(100%);
}

.yellowSvg {
  filter: $filterToColor;
}

.lightYellowSvg {
  filter: $skillsSvg;
}

.badgeSectionColor {
  @include badgeColor;
}

// badge
.badgeIconColor {
  @include badgeIconColor;
  z-index: 20;
  padding: 5px;
}

// header scrolled
.scrolled {
  //   border-bottom: 1px solid black;
  //   background-color: #00092ad5;
  background-color: $darkBackgroud-transparent;
  transition: background-color 300ms;
  backdrop-filter: blur(2.5px);
}

// header not scrolled
.top-position {
  background-color: transparent;
}

.tailwindIcon {
  right: 40px;
  top: 289px;
}
.reactIcon {
  top: 74px;
  left: 2px;
}
.expressIcon {
  top: 74px;
  right: 2px;
}

.gridSkills {
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  height: 170px;
}
// .projectContainer {
//   @include projectContainer;
// }

.header {
  padding: 8px 28px 8px;
  justify-content: space-between;
  height: 60px;
}

.titleText {
  color: $titleText;
}

.backgroundColor {
  background-color: $darkBackgroud;
}
.transparentBackground {
  background: $transparentBackground;
}

.reactSpin {
  animation: texture-spin infinite 40s linear;
}

.styleGradient {
  //   background: $styleGradient;
  //   background-color: #081b4d6e;
  background: linear-gradient(180deg, #06091c 30%, #112153);
}

.darkGradient {
  background: linear-gradient(60deg, #4c413e7d, #9b6e251c);
}

.iconSocialPresentation {
  transition: all 200ms ease-out;
}

.iconSocialPresentation:hover {
  transition: all 200ms ease-out;
  transform: scale(1.2);
}

.iconSocialPresentationMail {
  background-color: white;
  display: flex;
  height: 34px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.iconSocialPresentationDL {
  //   border: 2px solid $outlineColor;
  box-shadow: inset 0 0 0 2px white;
  padding: 16px 22px;
  font-weight: normal;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 200ms ease-out;
}

.iconSocialPresentationDL:hover {
  transform: scale(1.03);
  transition: all 200ms ease-out;
}

// A FINIR (une fois le design fait
.iconSocialPresentationDL:focus,
.iconSocialPresentationDL:focus-visible,
.iconSocialPresentationDL:target {
  // test
  box-shadow: inset 0 0 0 0px white;
  outline: none;
  background: white;
  color: black;
  // original
  //   transition: background-color 200ms ease-out;
  //   box-shadow: inset 0 0 0 0px white;
  //   background: linear-gradient(
  //     90deg,
  //     rgb(46 173 254) 0%,
  //     rgb(252, 212, 52) 100%
  //   );
  //   outline: none;
  //   color: black;
  //   old
  //   background-color: #92d0ff;
  //   border: 2px solid transparent;
  // filter: brightness(0.9);
}

.iconSocialPresentationDL:focus img {
  transition: all 200ms ease-out;
  filter: invert(1);
}

.iconSocialPresentationDL img {
  height: 24px;
}

.polygon {
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}

// responsive < 950px
@media screen and (max-width: 1020px) {
  //   .gridProject :nth-child(3) {
  //     grid-column: 1/-1;
  //   }
  .backgroundTexture3 {
    background-size: 400% 400%;
  }

  .positionPicOfMe {
    position: relative;
    top: 35.5px;
  }
}

// responsive < 710px (md)
@media screen and (max-width: 710px) {
  .gridSkills :nth-child(1) {
    grid-row: 2/2;
  }

  .positionPicOfMe {
    position: relative;
    top: 29.5px;
  }
}

@media screen and (max-width: 450px) {
  #projectLink,
  #skillsLink {
    display: none;
    // font-size: 12px;
  }
}

.borderTopFooter {
  border-top: 1px solid rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.yellowBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #2e2500;
  color: #ffc401;
}

.yellowgreenBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #112e00;
  color: #67ff01;
}

.greenBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #002e11;
  color: #01ff23;
}

.purpleBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #2e0002;
  color: #ff0188;
}

.lightblueBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #00252e;
  color: #01c8ff;
}

.blueBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #00022e;
  color: #0156ff;
}

.orangeBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #2e1a00;
  color: #ffaa32;
}

.bluepurpleBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #17002e;
  color: #d289ff;
}

.darkyellowBadge {
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #241b00;
  color: #ffc105;
}
